<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
  <title>Crypto Tracker</title>
  <link rel="icon" type="image/png" href="https://img.icons8.com/ios/100/bitcoin-exchange--v2.png">
</head>
<body>
<div class="card2">
    <div class="maintitle2">
      <h1>Who Am I?</h1>
    </div>

      <div class="welcomebox2">
        <h1>My name is Roy Latin I'm a Junior DevOps Engineer who's been immersed in the practical aspects of modern technology.</h1>
        <h1>Over the past six months, I've been focused on a website project with a unique twist – tracking cryptocurrency prices.</h1>
        <h1>However, what truly sets this project apart is my approach to its deployment and maintenance.</h1>
        <h1>I've opted for Google Kubernetes Engine, a robust solution that ensures the website remains reliable even during spikes in traffic.</h1>
        <h1>To simplify this process further, I've turned to Helm charts, which help manage the deployment seamlessly.</h1>
        <h1>The real efficiency lies in the pipeline I've set up. Using custom scripts, I've automated updates and modifications, allowing the site to evolve effortlessly.</h1>
        <h1>Through this endeavor, I've demonstrated my ability to leverage advanced technologies to create practical solutions that align with DevOps principles.</h1>
        <h1>Throughout the course, I've also honed my skills with tools such as Git, Ansible, and cloud services like AWS and GCP. Docker, Helm, and Terraform have become integral to my workflow, aiding in perfecting my work while emphasizing efficiency in deployment and infrastructure management.</h1>
        <h1>Enjoy using the Crypto Tracker Website</h1>
      </div>
</div>

</div>
<div class="button-container">
  <a href="/eth" rel="noopener noreferrer">
    <button>
      <strong>Ethereum</strong>
    </button>
  </a>
  <a href="/btc" rel="noopener noreferrer">
    <button>
      <strong>Bitcoin</strong>
    </button>
  </a>
  <a href="/xrp" rel="noopener noreferrer">
    <button>
      <strong>Ripple</strong>
    </button>
  </a>
  <a href="/ada" rel="noopener noreferrer">
    <button>
      <strong>Cardano</strong>
    </button>
  </a>
</div>

<div class="button2-container">
  <a href="/" rel="noopener noreferrer">
    <button>
      <strong>Home Page</strong>
    </button>
  </a>
</div>


<div class="toptitle">
    <h1>Crypto Tracker</h1>
</div>


<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="social">
    <ul> 
        <li><a href="https://github.com/Roy-Latin/DevOps-Crypto">Github <i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/roy-latin-665216278/">Linkedin <i class="fa fa-linkedin"></i></a></li>
          </ul>
    </nav>
  
  
</body>
</html>
