<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
  <title>Crypto Tracker</title>
  <link rel="icon" type="image/png" href="https://img.icons8.com/ios/100/bitcoin-exchange--v2.png">
</head>
<body>
<div class="card2">
    <div class="welcomebox">
    <h1>Welcome to the crypto prices site!</h1>
    <h1>In this site you can check the current price,</h1>
    <h1>the highest price and lowest price in the last 24h.</h1>
    <h1>To start pick a currency!</h1>
  </div>
</div>

</div>
<div class="button-container">
  <a href="/eth" rel="noopener noreferrer">
    <button>
      <strong>Ethereum</strong>
    </button>
  </a>
  <a href="/btc" rel="noopener noreferrer">
    <button>
      <strong>Bitcoin</strong>
    </button>
  </a>
  <a href="/xrp" rel="noopener noreferrer">
    <button>
      <strong>Ripple</strong>
    </button>
  </a>
  <a href="/ada" rel="noopener noreferrer">
    <button>
      <strong>Cardano</strong>
    </button>
  </a>
</div>

<div class="button2-container">
  <a href="/about" rel="noopener noreferrer">
    <button>
      <strong>About Me</strong>
    </button>
  </a>
</div>

<div class="toptitle">
  <h1>Crypto Tracker</h1>
</div>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="social">
    <ul> 
        <li><a href="https://github.com/Roy-Latin/DevOps-Crypto">Github <i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/roy-latin-665216278/">Linkedin <i class="fa fa-linkedin"></i></a></li>
          </ul>
    </nav>
  
  
</body>
</html>
