<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

  <div class="container-b">
    <div class="square-left">
      <div class="price-b">
        <table>
          <tr>
              <th>Name</th>
              <th>Price</th>
          </tr>
          {% for row in ada_price_data[::-1] %}
          <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
          </tr>
          {% endfor %}
      </table>
      </div>
    </div>
  </div>

  <div class="container-b">
    <div class="square-right">
      <div class="price-a">
        <h2>__________________________________</h2>
        <h1>Cardano Price:</h1>
        <h1>{{ ada_price }}$</h1>
        <h2>__________________________________</h2>
        <h1>Cardano Price high 24 hours:</h1>
        <h1>{{ ada_price_h24 }}$</h1>
        <h2>__________________________________</h2>
        <h1>Cardano Price low 24 hours:</h1>
        <h1>{{ ada_price_l24 }}$</h1>
        <h2>__________________________________</h2>
      </div>
    </div>
  </div>


  <div class="button-container">
    <a href="/eth" rel="noopener noreferrer">
      <button>
        <strong>Ethereum</strong>
      </button>
    </a>
    <a href="/btc" rel="noopener noreferrer">
      <button>
        <strong>Bitcoin</strong>
      </button>
    </a>
    <a href="/xrp" rel="noopener noreferrer">
      <button>
        <strong>Ripple</strong>
      </button>
    </a>
    <a href="/ada" rel="noopener noreferrer">
      <button>
        <strong>Cardano</strong>
      </button>
    </a>
  </div>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <nav class="social">
      <ul> 
          <li><a href="https://github.com/Roy-Latin/DevOps-Crypto">Github <i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/roy-latin-665216278/">Linkedin <i class="fa fa-linkedin"></i></a></li>
            </ul>
      </nav>
  
  <div class="card"></div>
    
    
</body>
</html>
