<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container"></div>
  <div class="maintitle1">
    <h1>Crypto Prices</h1>
  </div>
  <div class="content">
    <h1>Choose A Crypto Currency</h1>
  </div>

  <div class="price">
    <h1>Bitcoin Price: {{ bitcoin_price }}</h1>
  </div>

  <div class="button-container">
    <a href="/eth" rel="noopener noreferrer">
      <button>
        <strong>Ethereum</strong>
      </button>
    </a>
    <a href="/btc" rel="noopener noreferrer">
      <button>
        <strong>Bitcoin</strong>
      </button>
    </a>
  </div>
  
      <div class="card"></div>
    
    
</body>
</html>
